<header>
  <div
    class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center link-body-emphasis text-decoration-none"
    >
      <span class="fs-4"><%=title%></span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <button
        class="btn btn-primary btn-sm me-3 py-2"
        id="btn-tambah"
        data-bs-toggle="modal"
        data-bs-target="#modalTambah"
      >
        <i class="fas fa-plus"></i> Tambah Garansi
      </button>
    </nav>
  </div>
</header>
