<!-- Modal -->
<div
  class="modal fade"
  id="modalPreview"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Garansi</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table id="table-detail" class="table table-sm">
            <tbody>
              <tr>
                <td>Tanggal</td>
                <td>:&nbsp;</td>
                <td id="prev-tanggal">tanggal</td>
              </tr>
              <tr>
                <td>Optik</td>
                <td>:</td>
                <td id="prev-nama_optik" class="text-uppercase">nama optik</td>
              </tr>
              <tr>
                <td>Nama</td>
                <td>:</td>
                <td id="prev-nama" class="text-uppercase">nama</td>
              </tr>
              <tr>
                <td>Frame</td>
                <td>:</td>
                <td id="prev-frame" class="text-uppercase">frame</td>
              </tr>
              <tr>
                <td>Lensa</td>
                <td>:</td>
                <td id="prev-lensa" class="text-uppercase"></td>
              </tr>
              <tr>
                <td>Garansi Lensa</td>
                <td>:</td>
                <td id="prev-garansi_lensa">
                  
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td id="prev-expired_lensa"></td>
              </tr>
              <tr>
                <td>Garansi Frame</td>
                <td>:</td>
                <td id="prev-garansi_frame">
                  
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td id="prev-expired_frame"></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-sm mt-2 table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Sph</th>
                <th>Cyl</th>
                <th>Axis</th>
                <th>Add</th>
                <th>Mpd</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>OD</td>
                <td id="prev-rsph"></td>
                <td id="prev-rcyl"></td>
                <td id="prev-raxis"></td>
                <td id="prev-radd"></td>
                <td id="prev-rmpd"></td>
              </tr>
              <tr>
                <td>OS</td>
                <td id="prev-lsph"></td>
                <td id="prev-lcyl"></td>
                <td id="prev-laxis"></td>
                <td id="prev-ladd"></td>
                <td id="prev-lmpd"></td>
              </tr>
            </tbody>
      </div>
    </div>
  </div>
</div>
